doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type="text/css").
      body {
        padding: 24px;
        font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      a {
        color: #00B7FF;
      }
  body
    block content
